html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mainContainer {
    margin: 10rem;
    text-align: center
}

header {
    margin-bottom: 100px;
}

.list-group {
    max-width: 200px;
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 1000;
    margin-left: 100px;
}

.list-group-item {
    cursor: pointer;
}

    .list-group-item:hover {
        font-weight: bold;
        text-decoration: underline;
    }

.category {
    margin-top: 150px;
    margin-left: 320px;
    padding-left: 20px;
}

.table-row {
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    z-index: 10;
}

.cart-icon {
    margin-right: 5px;
}

.badge-num {
    top: 2px !important;
    background-color: #ffb524;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.btn-outline-light:hover .badge-num {
    background-color: #000;
    color: #fff;
}

.btn-action {
    font-size: 12px;
    padding: 4px 10px 4px 10px;
}
