@page
@model CreateModel
@{
    Layout = "AdminLayout";
}

<div class="createAccountPage">
    <h1>Thêm loại</h1>

    <h4>Thông tin loại</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Category.CategoryCode" class="control-label">Category Code</label>
                    <input asp-for="Category.CategoryCode" class="form-control" />
                    <span asp-validation-for="Category.CategoryCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.CategoryName" class="control-label">Category Name</label>
                    <input asp-for="Category.CategoryName" class="form-control" />
                    <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.CreateDate" class="control-label">Create Date</label>
                    <input asp-for="Category.CreateDate" class="form-control" type="date" />
                    <span asp-validation-for="Category.CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.UpdateDate" class="control-label">Update Date</label>
                    <input asp-for="Category.UpdateDate" class="form-control" type="date" />
                    <span asp-validation-for="Category.UpdateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.UpdateBy" class="control-label">Update By</label>
                    <input asp-for="Category.UpdateBy" class="form-control" />
                    <span asp-validation-for="Category.UpdateBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.CreateBy" class="control-label">Create By</label>
                    <input asp-for="Category.CreateBy" class="form-control" />
                    <span asp-validation-for="Category.CreateBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.Status" class="control-label">Status</label>
                    <input asp-for="Category.Status" class="form-control" />
                    <span asp-validation-for="Category.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="form-group">
        <button id="btnCancel" class="btn btn-warning" style="color: white">Cancel</button>
    </div>

    <script>
        document.getElementById('btnCancel').addEventListener('click', function () {
            window.location.href = '/AdminPage/Index'; // Adjust the URL according to your routing setup
        });
    </script>

    <style>
        .createAccountPage {
            padding-top: 100px; /* Adjust this value to create space */
        }
    </style>
</div>
